html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: "DIN2014-Light", sans-serif;
}

:root {
    --yellow: #ffd100;
    --grey: #53565a;
    --blue: #00a9ce;
}

#root {
    position: relative;
}

.home-screen {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("/src/images/modern-building.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-image {
    width: 100%;
    height: auto;
    filter: brightness(60%);
}

.title-div {
    position: absolute;
    top: 4rem;
    left: 3rem;
    color: white;
    display: flex;
    font-size: 45px;
}

.company-name {
    align-self: flex-end;
}

.omicron-logo {
    width: 4rem;
    height: auto;
    padding-bottom: 1.5rem;
}

.home-header {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 150px;
    line-height: 8rem;
    font-weight: 100;
    color: white;
    z-index: 5;
    transition: opacity 0.75s;
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50px;
    background-color: var(--yellow);
}

.nav-bin {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.menu-label {
    transform: rotate(90deg);
    position: absolute;
    top: 5rem;
    left: 3px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
}

.nav-icon {
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}

.hamburger {
    width: 2rem;
    height: auto;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: fixed;
    border-right: 18px solid var(--yellow);
    top: 30px;
    right: 50px;
    z-index: 6;
}

.extended-nav {
    overflow: scroll;
    display: none;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 0;
    right: -550px;
    min-height: 100%;
    width: 550px;
    background-color: rgba(255, 209, 0, 80%);
    animation: 0.75s slideLeft forwards;
    -webkit-animation: 0.75s slideLeft forwards;
    z-index: 10;
}

.nav-block {
    position: fixed;
    top: 55vh;
    background-color: hwb(0 100% 0%);
    width: 100px;
    height: 0.5rem;
    margin-left: 2.6em;
}

.top-nav-list {
    position: fixed;
    top: 15vh;
    font-size: 50px;
    color: var(--grey);
}

.top-nav-list li {
    cursor: pointer;
}
.top-nav-list li:hover {
    color: white;
    transition: color 0.35s ease-in-out;
}

.bottom-nav-list {
    position: fixed;
    top: 65vh;
    font-size: 25px;
    color: white;
}

.bottom-nav-list li {
    cursor: pointer;
}
.bottom-nav-list li:hover {
    color: var(--grey);
    transition: color 0.35s ease-in-out;
}

@-webkit-keyframes slideLeft {
    100% {
        right: 0;
    }
}

@keyframes slideLeft {
    100% {
        right: 0;
    }
}

.about-us {
    color: var(--grey);
}

.block {
    width: 100px;
    height: 0.5rem;
    background-color: var(--yellow);
    margin-left: 6rem;
    margin-top: 6rem;
}

.about-us h4,
.about-us-header {
    padding: 0 6rem;
}

.about-us h4 {
    padding-top: 1rem;
    font-size: 50px;
    font-family: "DIN2014-Light";
    font-weight: 600;
}

.about-us-header {
    font-size: 40px;
}

.company-bio {
    width: 50%;
    padding-top: 2rem;
    padding-left: 6rem;
    font-size: 18px;
    line-height: 2rem;
    margin-bottom: 400px;
}

section {
    position: relative;
}

aside {
    position: absolute;
    right: 0;
    top: 100px;
    width: 40%;
}

ul {
    list-style-type: none;
}

.approaches {
    width: 45%;
    padding-right: 75px;
}

.approach {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    transition: padding-top 0.2s ease-in-out;
}

.approach-number {
    color: var(--yellow);
    font-size: 45px;
}

.approach-description {
    font-size: 25px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.more-info {
    opacity: 0;
    height: 0;
    transition: opacity 0.2s ease-in-out, height 0.3s ease-in-out;
}

.approaches ul li:hover > .more-info {
    display: block;
    height: fit-content;
    opacity: 1;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.approaches ul li:hover .approach-number {
    font-size: 5rem;
}

.approaches ul li:hover .approach-description {
    font-size: 2.5rem;
}

.approaches ul li:hover .approach {
    padding-top: 0.5rem;
}

.learn-more {
    text-transform: uppercase;
    color: var(--blue);
    cursor: pointer;
    transition: color 0.35s ease-in-out;
}

.learn-more:hover {
    color: var(--yellow);
}

.featured-project {
    width: calc(100% - 50px);
    overflow: hidden;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url("/src/modern-office.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: brightness(80%);
}

.project-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: rgba(83, 86, 90, 0.9);
}

.featured-project-heading {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 10%;
}

.project-block {
    width: 100px;
    height: 0.5rem;
    background-color: var(--yellow);
}

.project-overlay .learn-more,
.project-block {
    position: absolute;
    left: 11%;
}

.project-overlay .learn-more {
    top: 55%;
}

.project-block {
    top: 60%;
    width: 200px;
}

.featured-material {
    display: flex;
    gap: 0.5rem;
    width: calc(100% - 50px);
    position: relative;
    z-index: 1;
    padding: 0.5rem;
}

.featured-leadership,
.featured-article {
    position: relative;
    width: 50%;
    height: 450px;
    background-color: #00a9ce;
}

.featured-leadership {
    background-color: rgba(83, 86, 90, 40%);
}

.avatar {
    position: absolute;
    bottom: 0;
    left: 15%;
    width: auto;
    height: 85%;
}

.featured-article {
    background-image: url("/src/images/modern-building-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.leadership {
    color: var(--blue);
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.35s ease-in-out;
    position: absolute;
    top: 80%;
    left: 3rem;
}

.leadership-heading {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: absolute;
    top: 70%;
    left: 3rem;
}

.leadership:hover {
    color: var(--yellow);
}

.leadership-block {
    left: 3rem;
    top: 80%;
    width: 200px;
    height: 0.5rem;
    background-color: var(--yellow);
    position: absolute;
    top: 87%;
    left: 3rem;
}

footer {
    width: calc(100% - 50px);
    height: 200px;
    background-color: var(--grey);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.company-logo {
    display: flex;
    align-items: center;
}

.company-footer-name {
    font-size: 1.8rem;
    color: white;
}

.contact-info {
    line-height: 1.5rem;
}

.subscribe {
    line-height: 2em;
}

button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: var(--blue);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--yellow);
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}
